force-app/main/default/flows/Escalated_Cases.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>send_mail_Contact</name>
        <label>send mail Contact</label>
        <locationX>431</locationX>
        <locationY>308</locationY>
        <actionName>emailSimple</actionName>
        <actionType>emailSimple</actionType>
        <connector>
            <targetReference>Excaleted_or_Not</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>emailAddresses</name>
            <value>
                <elementReference>Loop_for_Contacts.ContactEmail</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailSubject</name>
            <value>
                <stringValue>Sollecito</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailBody</name>
            <value>
                <stringValue>Email per Sollecito</stringValue>
            </value>
        </inputParameters>
        <nameSegment>emailSimple</nameSegment>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <apiVersion>61.0</apiVersion>
    <decisions>
        <name>Excaleted_or_Not</name>
        <label>Excaleted or Not</label>
        <locationX>422</locationX>
        <locationY>471</locationY>
        <defaultConnector>
            <targetReference>Loop_for_Contacts</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Not Escalated</defaultConnectorLabel>
        <rules>
            <name>Excaleted</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Loop_for_Contacts.Status</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Escalated</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Wait_5_minutes</targetReference>
            </connector>
            <label>Escalated</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <interviewLabel>Escalated Cases {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Escalated Cases</label>
    <loops>
        <name>Loop_for_Contacts</name>
        <label>Loop for Contacts in Cases</label>
        <locationX>236</locationX>
        <locationY>306</locationY>
        <collectionReference>get_Cases</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>send_mail_Contact</targetReference>
        </nextValueConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>New_Case</name>
        <label>New Case</label>
        <locationX>92</locationX>
        <locationY>465</locationY>
        <connector>
            <targetReference>Loop_for_Contacts</targetReference>
        </connector>
        <inputReference>Loop_for_Contacts</inputReference>
    </recordCreates>
    <recordLookups>
        <name>get_Cases</name>
        <label>get Cases</label>
        <locationX>440</locationX>
        <locationY>113</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Loop_for_Contacts</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Status</field>
            <operator>NotEqualTo</operator>
            <value>
                <stringValue>Closed</stringValue>
            </value>
        </filters>
        <filters>
            <field>Priority</field>
            <operator>NotEqualTo</operator>
            <value>
                <stringValue>Low</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Case</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <start>
        <locationX>550</locationX>
        <locationY>46</locationY>
        <connector>
            <targetReference>get_Cases</targetReference>
        </connector>
        <schedule>
            <frequency>Daily</frequency>
            <startDate>2024-09-25</startDate>
            <startTime>17:30:00.000Z</startTime>
        </schedule>
        <triggerType>Scheduled</triggerType>
    </start>
    <status>Draft</status>
    <variables>
        <name>CaseList</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Case</objectType>
    </variables>
    <variables>
        <name>TempCase</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Case</objectType>
    </variables>
    <waits>
        <name>Wait_5_minutes</name>
        <elementSubtype>WaitDuration</elementSubtype>
        <label>Wait 5 minutes</label>
        <locationX>308</locationX>
        <locationY>667</locationY>
        <defaultConnectorLabel>Default Path</defaultConnectorLabel>
        <waitEvents>
            <conditionLogic>and</conditionLogic>
            <connector>
                <targetReference>New_Case</targetReference>
            </connector>
            <label>el_0</label>
            <offset>5</offset>
            <offsetUnit>Minutes</offsetUnit>
        </waitEvents>
    </waits>
</Flow>
